- sorted_articles[0,excerpt_count].each do |article|
  - if item[:lang] == article[:lang]
    %h1= article[:title]
    %p.meta
      = article_meta(article)
    %article
      %p.excerpt= article_more(article)
      = article_excerpt(article)

