%h1= item[:menu_title]
%article
  %p In dictum urna quis felis congue porttitor. Etiam mattis erat ultrices lectus sollicitudin ac ultricies nunc tincidunt. Etiam ornare, neque in accumsan semper, lorem velit mattis lectus, adipiscing egestas risus lorem dictum sapien. Phasellus consectetur magna non turpis aliquet in elementum lorem tristique. Quisque at magna arcu. Sed elit libero, dignissim at pharetra ac, vulputate at ipsum. Integer id porttitor nibh. Cras sem metus, luctus eu condimentum id, fringilla nec arcu. Ut pretium sapien eu leo tincidunt id auctor urna tempus. Pellentesque hendrerit, neque vitae ornare tincidunt, felis risus elementum quam, vel rhoncus ipsum ante sit amet leo. Nam cursus, ipsum in pretium viverra, turpis lectus luctus lacus, ac condimentum nisi lorem sed ipsum. Vivamus tincidunt egestas nisl nec ultrices. Suspendisse consectetur, tortor quis vehicula imperdiet, enim magna facilisis ante, vitae convallis mauris magna eu augue. Duis nec erat lacus, at imperdiet risus. Maecenas nisi augue, convallis quis tempus nec, varius in enim. Aenean pharetra, arcu id accumsan semper, turpis magna volutpat elit, at euismod libero nisl ut quam.

 
