%h1= item[:title] 
%article
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Mauris sed lobortis turpis. Etiam quis nisi vulputate massa tincidunt convallis. Ut ultrices luctus egestas. Suspendisse tincidunt neque eu tellus rutrum interdum. Integer fringilla varius felis nec tempus. Sed in tellus a lectus lobortis iaculis ac ut justo. Praesent rutrum, neque in blandit pharetra, ante nulla mollis enim, vel egestas lacus sem in tortor. Aliquam nec nibh nec leo mollis eleifend non non quam. Nunc at erat urna, suscipit tincidunt lacus. Vivamus imperdiet mollis justo, a ullamcorper enim fringilla vitae. Cras nec mauris quis dui molestie rhoncus eu in nulla. Vivamus ante neque, facilisis in viverra lobortis, fringilla egestas massa. Aliquam erat volutpat.

